.calendar {
	display: flex;
    align-items: top;
}

#calendar {
        flex-grow: 1;
        margin-right: 20px;
    }

.events label {
	display: block;
}

.closeon {display:block; 
	height: 20px; 
	width: 20px; background: #FF0000; 
}


