<div class="login">
	<form action="" method="post" name= "auth" class = "auth">
		<label for="login">
			<span>Login:</span>
			<input type="mail" name="login" required/>
		</label>
		<label for="pass">
			<span>Password:</span>
			<input type="password" name="pass" required/>
		</label>
		<input type="button" class="checkUser" value = "Send"/>
	</form>
</div>