<!DOCTYPE html>
	<html>
	<head>
		<title>tz_eng</title>
		<script src="scripts/include.js"></script>
		<script src="scripts/Send.js"></script>
		<script src='scripts/lib/jquery.min.js'></script>
		<script src='scripts/lib/moment.min.js'></script>
		<script src='scripts/lib/fullcalendar.js'></script>

		
		<link rel='stylesheet' href='style/calendar/fullcalendar.css' />
		<link rel='stylesheet' href='style/calendar/jquery-ui.min.css' />
		<link rel='stylesheet' href='style/default.css' />
	
	</head>
	<body>
		<div class = "error"></div>
		<div class = "content">
			{{content}}
		</div>
	</body>
</html>