<?php
	if((int)$_SESSION['customer']['admin_key']):
?>
	<form name="invite" method="post" action="">
			<label for="invite">
			<span>Invite Email:</span>
			<input type="mail" name="invite" required/>
		</label>
		 <input type="button" class="inviteEmail" value = "Send"/>
	</form>
	
<?php
	endif;
?>
<div class = "calendar">
	<div id="calendar"></div>
	<div class = "events">
		<p>Add event:</p>
		<form name="calendar" action="" method="post">
			<label for="name">
			<span>Name:</span>
			<input type="text" name="name" required/>
		</label>
		<label for="date">
			<span>Date:</span>
			<input type="date" name="date" required/>
		</label>
		<label for="time">
			<span>Time:</span>
			<input type="time" name="time" required/>
		</label>
		<label for="description">
			<span>Description:</span>
			<textarea name="description" required></textarea>
		</label>
		<label for="status">
			<span>Status:</span>
			<select name="status" required>
				 <option value="new">New</option>
				 <option value="in-progress">In-progress</option>
				 <option value="done">Done</option>
			</select>
		</label>
		<label for="color">
			<span>Color scheme:</span>
			<input type="color" name="color" required/>
		</label>
		<input type = "button" class = "sendEvent" value="Send" />
		</form>
	</div>
</div>

<script src="scripts/Calendar.js"></script>